@font-face {
  font-family: 'AntarcticanMono-Bold';
  src: url('/fonts/AntarcticanMono-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'AntarcticanMono-Medium';
  src: url('/fonts/AntarcticanMono-Medium.woff2') format('woff2');
}
