body {
  font-family: 'AntarcticanMono-Bold';
}

.svg-right {
  height: 300px;
  width: 100vw;
  position: absolute;
  top: 200px;
  justify-content: flex-end;
  display: flex;
}

.svg-left img,
.svg-right img {
  height: 400px;
}

.svg-left {
  height: 300px;
  width: 100vw;
  position: absolute;
  top: 600px;
  justify-content: flex-start;
  display: flex;
}

.nav a:not(:hover) {
  text-decoration: none;
}

.nav a,
.nav a:visited {
  color: black;
  cursor: pointer;
}

.nav a:hover {
  color: #ea3d25;
}

.header .last-name {
  color: #ea3d25;
}

.media .video {
  margin-bottom: 16px;
}

.header {
  width: 100%;
  max-width: 1200px;
  padding: 48px 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer .content .title .name {
  color: white !important;
}

.panel {
  width: 100%;
  padding: 64px 0;
}

.container {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main {
  width: 100%;
}

.main .panel:first-child {
  padding-top: 0px;
}

.media {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.content {
  text-align: left;
  word-wrap: none;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}

.company {
  display: flex;
  flex-direction: column;
  padding: 0 0 64px;
  width: 100%;
}

.panel .content .title h2 {
  color: #ea3d25;
  font-size: 30px;
}

.panel .content .title h3 {
  font-size: 30px;
  line-height: 37px;
}

.VueCarousel-dot-container {
  margin-top: 0 !important;
}

.VueCarousel-dot-container button {
  margin-top: 0 !important;
}

.VueCarousel-slide {
  flex-shrink: 0 !important;
}

.nav {
  display: flex;
  flex-direction: row;
}

.header .nav h2 {
  margin-left: 12px;
}

.description p {
  margin-bottom: 16px;
}

.image {
  max-width: 1200px;
}

.title {
  padding-right: 12px;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.description {
  width: 66%;
}

.window {
  margin: 0 140px;
  max-width: 1380px;
  min-height: 100vh;
}

.media {
  width: 100%;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.description {
  column-count: 2;
}
