body {
  font-family: 'AntarcticanMono-Medium';
}

body h2,
body h3 {
  letter-spacing: 2px !important;
}

.svg-1-right {
  right: 0;
  top: 1400px;
}

.svg-2-right {
  right: 0;
  top: 4100px;
}

.svg-1-left {
  left: 0;
  top: 400px;
}

.svg-2-left {
  left: 0;
  top: 2500px;
}

.svg-1-right,
.svg-2-right,
.svg-1-left,
.svg-2-left {
  height: 300px;
  position: absolute;
  justify-content: flex-start;
  display: flex;
}

.svg-1-right img,
.svg-2-right img,
.svg-1-left img,
.svg-2-left img {
  height: 700px;
}

.nav a:not(:hover) {
  text-decoration: none;
}

.nav a,
.nav a:visited {
  color: black;
  cursor: pointer;
}

.nav a:hover {
  color: #ea3d25;
}

.header h2,
.footer h3 {
  letter-spacing: 0px !important;
  font-size: 26px !important;
}

.header .last-name {
  color: #ea3d25;
}

.media .video {
  margin-bottom: 16px;
}

.media .slideshow {
  margin-bottom: 16px;
}

.header {
  width: 100%;
  padding: 48px 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer .content .title .name {
  color: white !important;
}

.panel {
  width: 100%;
  padding: 64px 0;
}

.container {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main {
  width: 100%;
}

.main .panel:first-child {
  padding-top: 0px;
}

.media {
  width: 100%;
  margin: 0 auto;
}

.content {
  text-align: left;
  word-wrap: none;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.company {
  display: flex;
  flex-direction: column;
  padding: 0 0 64px;
  width: 100%;
}

.panel .content .title h2 {
  color: #ea3d25;
  font-size: 30px;
  line-height: 37px;
}

.panel .content .title h3 {
  font-size: 30px;
  line-height: 37px;
}

.nav {
  display: flex;
  flex-direction: row;
}

.header .nav h2 {
  margin-left: 12px;
}

.description p {
  font-size: 12px;
  margin-bottom: 16px;
}

.title {
  padding-right: 12px;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.description {
  width: 66%;
}

.window {
  margin: 0 140px;
  max-width: 1380px;
  min-height: 100vh;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.description {
  column-count: 2;
}

.header,
.content,
.media,
.image {
  max-width: 1080px;
  width: 1080px
}

.video iframe {
  height: 609px;
  max-width: 1080px;
  width: 1080px
}

.VueCarousel-dot-container {
  margin-top: 0 !important;
}

.VueCarousel-dot-container button {
  margin-top: 0 !important;
}

.VueCarousel-navigation-button {
  font-size: 20px;
}

.VueCarousel-slide {
  flex-shrink: 0 !important;
}


@media only screen and (max-width: 1500px) {
  .header,
  .content,
  .media,
  .image {
    max-width: 800px;
    width: 800px
  }

  .video iframe {
    height: 450px;
    max-width: 800px;
    width: 800px
  }

  .svg-2-right {
    right: 0;
    top: 3400px;
  }

  .svg-1-right img,
  .svg-2-right img,
  .svg-1-left img,
  .svg-2-left img {
    height: 500px;
  }

  .header h2 {
    font-size: 23px !important
  }

  .footer h3 {
    font-size: 18px !important;
  }

  .panel .content .title h2 {
    font-size: 23px;
    line-height: 30px;
  }
  
  .panel .content .title h3 {
    font-size: 23px;
    line-height: 30px;
  }
}


@media only screen and (max-width: 1100px) {
  .header,
  .content,
  .media,
  .image {
    max-width: 600px;
    width: 600px
  }

  .video iframe {
    height: 336px;
    max-width: 600px;
    width: 600px
  }

  .svg-1-right {
    right: 0;
    top: 1200px;
  }

  .svg-2-right {
    right: 0;
    top: 3300px;
  }

  .svg-1-left {
    left: 0;
    top: 500px;
  }

  .svg-2-left {
    left: 0;
    top: 2100px;
  }

  .svg-1-right img,
  .svg-2-right img,
  .svg-1-left img,
  .svg-2-left img {
    height: 300px;
  }

  .content {
    flex-direction: column;
  }

  .content .title {
    margin-bottom: 16px;
  }

  .content .title,
  .content .description {
    width: 100%;
    column-count: 1;
  }


  .header h2 {
    font-size: 20px !important
  }
}

@media only screen and (max-width: 770px) {
  .header,
  .content,
  .media,
  .image {
    max-width: 400px;
    width: 400px
  }

  .video iframe {
    height: 224px;
    max-width: 400px;
    width: 400px
  }

  .svg-1-right,
  .svg-2-right,
  .svg-1-left,
  .svg-2-left {
    display: none;
  }

  .content {
    flex-direction: column;
  }

  .content .title {
    margin-bottom: 16px;
  }

  .content .title,
  .content .description {
    width: 100%;
    column-count: 1;
  }
}

@media only screen and (max-width: 450px) {
  .header,
  .content,
  .media,
  .image {
    max-width: 250px;
    width: 250px
  }

  .video iframe {
    height: 140px;
    max-width: 250px;
    width: 250px
  }

  .svg-1-right,
  .svg-2-right,
  .svg-1-left,
  .svg-2-left {
    display: none;
  }

  .content {
    flex-direction: column;
  }

  .content .title {
    margin-bottom: 16px;
  }

  .content .title,
  .content .description {
    width: 100%;
    column-count: 1;
  }
}
