@font-face {
  font-family: 'AntarcticanMono-Bold';
  src: local('AntarcticanMono-Bold') format('woff2');
}
@font-face {
  font-family: 'AntarcticanMono-Medium';
  src: local('AntarcticanMono-Medium') format('woff2');
}
